<%= render partial: 'layouts/profile_navigation' %>

<div class="profile-full-vert">
  <div class="section-profile-splash">
    <div class="profile-splash" id="overview">
      <h1 class="profile-h1">Charline "Chris" Tyler</h1>
      <div class="profile-photo-border">
        <%= image_tag 'charline-tyler.jpg', class: 'profile-image' %>
      </div>
    </div>
  </div>
  <div class="section-profile-family-tips" id="family-tips">
    <div class="w-container">
      <div class="profile-preferences">
        <div class="w-tabs" data-duration-in="300" data-duration-out="100">
          <div class="tabs-menu w-tab-menu">
            <a class="tab-link w--current w-inline-block w-tab-link" data-w-tab="Tab 1">
              <div>Family</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 2">
              <div>Favorite Perfumes</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 3">
              <div>Favorite Hobbies</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 4">
              <div>favorite music</div>
            </a>
          </div>
          <div class="profile-tabs-content w-tab-content">
            <div class="w--tab-active w-tab-pane" data-w-tab="Tab 1">
              <div class="tab-info-row">
                <h4>spouse</h4>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Percy
                      <br><span class="info-paragraph-light">Husband</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 2">
              <div class="single tab-info-row">
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Estée Lauder</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Chanel</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 3">
              <div class="single tab-info-row">
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Dancing</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Listening to jokes</p>
                  </div>
                </div>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Watching movies</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 4">
              <div class="single tab-info-row">
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">James Brown</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Jazz</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-profile-media" id="media">
    <div class="w-container">
      <div class="slider-title">
        <div>Photos &amp; Videos</div>
      </div>
      <div class="slider-parent w-slider" data-animation="slide" data-duration="500" data-infinite="1" data-nav-spacing="5">
        <div class="media-mask w-slider-mask">
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'chris_tyler_w_grandmother.JPG', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578ee3e8eee2a4082db55050",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578ee3e8eee2a4082db55050_chris_tyler_w_grandmother.JPG",
                  "fileName": "chris_tyler_w_grandmother.JPG",
                  "origFileName": "chris_tyler_w_grandmother.JPG",
                  "width": 479,
                  "height": 440,
                  "fileSize": 50192,
                  "type": "image",
                  "url": "/assets/chris_tyler_w_grandmother-101dd396ab8f7abbdbc85d7963ce22d8241b239c3793bc34e5cb3c867fad30b3.JPG"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
          <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'chris_tyler_w_percy_couple_photo.JPG', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578ee3f805b434380f1bdef7",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578ee3f805b434380f1bdef7_chris_tyler_w_percy_couple_photo.JPG",
                  "fileName": "chris_tyler_w_percy_couple_photo.JPG",
                  "origFileName": "chris_tyler_w_percy_couple_photo.JPG",
                  "width": 466,
                  "height": 586,
                  "fileSize": 88207,
                  "type": "image",
                  "url": "/assets/chris_tyler_w_percy_couple_photo-ec4e529c9eba9ccfde3a88960bac35b21b191f4c480ec0c2bb847011af514ab4.JPG"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#">
              <div class="video-play-media-overlay"><%= image_tag 'jamesbrown.jpg', class: 'media-image' %>
              </div>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "type": "video",
                  "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FjuTeHsKPWhY%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DjuTeHsKPWhY&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FjuTeHsKPWhY%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"705\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
                  "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2FjuTeHsKPWhY%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
                  "width": 940,
                  "height": 705,
                  "url": "http://www.youtube.com/watch?v=juTeHsKPWhY"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'chris_tyler_w_percy_boat.JPG', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578ee555eee2a4082db55634",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578ee555eee2a4082db55634_chris_tyler_w_percy_boat.JPG",
                  "fileName": "chris_tyler_w_percy_boat.JPG",
                  "origFileName": "chris_tyler_w_percy_boat.JPG",
                  "width": 480,
                  "height": 640,
                  "fileSize": 108183,
                  "type": "image",
                  "url": "/assets/chris_tyler_w_percy_boat-3862400bbf87eb4379b1470811a436f3c15d392abfd53a1dab2a930d49cb141f.JPG"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#">
              <div class="video-play-media-overlay"><%= image_tag 'hqdefault.jpg', class: 'media-image' %>
              </div>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "type": "video",
                  "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fyfsmmk93H3I%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dyfsmmk93H3I&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fyfsmmk93H3I%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"705\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
                  "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fyfsmmk93H3I%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
                  "width": 940,
                  "height": 705,
                  "url": "http://www.youtube.com/watch?v=yfsmmk93H3I"
                }] }
              </script>
            </a>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="slider-icon w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="slider-icon w-icon-slider-right"></div>
        </div>
        <p class="enlarge-text grey-paragraph narrative">Click to enlarge</p>
      </div>
    </div>
  </div>
  <div class="section-profile-stories" id="stories">
    <div class="w-container">
      <div class="slider-title">
        <div>Charlines' Stories</div>
      </div>
      <div class="profile-stories">
        <div class="first story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">When Charline "Chris" Tyler graduated college in Chicago in 1963, she found a job out in California working for AT&amp;T. The only problem: She was terrified of flying. But she steeled herself and boarded the plane, and it turned out she loved it. She enjoyed it so much that she later started her own travel agency.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'chris_tyler_w_grandmother.JPG' %>
            <p class="caption grey-paragraph narrative">Chris, left, with her grandmother.</p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">That is very Chris: turning her fears into strengths. Learning to drive terrified her, but once she mastered it, she loved nothing more than driving around her Jaguar with her little&nbsp;Shih Tzu Pee Wee&nbsp;in the passenger seat. A first abusive marriage could have scarred her, but she bravely forged ahead, meeting and marrying&nbsp;the love of her life, Percy Tyler.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'chris_tyler_w_percy_couple_photo.JPG' %>
            <p class="caption grey-paragraph narrative">Percy Tyler, right, is the love of Chris's life</p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">Chris Jackson, as is her maiden name, was born in St. Louis, Missouri. She comes from a very strong family: her stern scowl when she's unhappy is a classic “Jackson face,” according to family. Her mother took Chris and her brother to the&nbsp;movie theater&nbsp;around the corner every weekend and she loved to color and draw.&nbsp;
              <br>
              <br>Chris is beautiful and carefree, loving to laugh and dance – and, she boasts, she had many boyfriends. She has this big raspy deep voice that carried across rooms, like her personality. She left Missouri for Chicago where she studied communications in college. AT&amp;T took her to Pasadena, where she met her first husband. Divorce saw her return to Chicago.</p>
          </div>
          <div class="w-col w-col-5">
            <div class="w-embed w-video" style="padding-top: 75%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FjuTeHsKPWhY%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DjuTeHsKPWhY&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FjuTeHsKPWhY%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">When she came back to the Windy City, still with AT&amp;T, Chris started her own travel agency out of her home on off hours and weekends. She met and married Percy, a mechanical engineer with a shared&nbsp;passion for travel, and the two expanded the business. It also gave them access to cheap tickets themselves and the pair loved nothing more than&nbsp;cruising the Caribbean.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'chris_tyler_w_percy_boat.JPG' %>
            <p class="caption grey-paragraph narrative">Chris and her husband Percy loved to travel. Their trips took to them Hawaii and the Caribbean and many other places, and they ran a travel agency together.</p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">She and Percy designed and built a home on Chicago’s Southside. They never had kids, but it didn't mean they didn't play. They were a fun-loving couple, and Chris would laughingly tell stories about Percy's sometimes tipsy adventures.&nbsp;
              <br>
              <br>Her brother died of complications relating to diabetes in his 40’s, making Chris even more aware of how short life can be. She and Percy would godancing&nbsp;a lot. She loves&nbsp;jazz and James Brown. But, most importantly,she loves to laugh. She is a funny lady and learned to use humor to charm and distract when things got heated, or difficult, as when she nursed Percy through lung cancer. Even today, some James Brown or a funny joke can grab her attention like nothing else.&nbsp;
              <br>
              <br>And, perhaps it was all the smoking, but Chris developed&nbsp;a passion for perfumes, which she collected. Her favorites, if she could be forced to pick, are&nbsp;Estée Lauder and Chanel. But, really, a whiff of almost any perfume still has a powerful effect, sending Chris into reveries or romantic dreams of Fred Astaire and Ginger Rogers.</p>
          </div>
          <div class="w-col w-col-5">
            <div class="w-embed w-video" style="padding-top: 75%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fyfsmmk93H3I%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dyfsmmk93H3I&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fyfsmmk93H3I%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/profile_footer' %>
