<%= render partial: 'layouts/profile_navigation' %>

<div class="profile-full-vert">
  <div class="section-profile-splash">
    <div class="profile-splash" id="overview">
      <h1 class="profile-h1">Elizabeth "Liz" Ross</h1>
      <div class="profile-photo-border">
        <%= image_tag 'circle_liz_hawaii.jpg', class: 'profile-image' %>
      </div>
    </div>
  </div>
  <div class="section-profile-family-tips" data-ix="navscroll" id="family-tips">
    <div class="w-container">
      <div class="profile-preferences">
        <div class="w-tabs" data-duration-in="300" data-duration-out="100">
          <div class="tabs-menu w-tab-menu">
            <a class="tab-link w--current w-inline-block w-tab-link" data-w-tab="Tab 1">
              <div>Family</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 2">
              <div>Food preferences</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 3">
              <div>Favorite Hobbies</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 4">
              <div>favorite music</div>
            </a>
          </div>
          <div class="profile-tabs-content w-tab-content">
            <div class="w--tab-active w-tab-pane" data-w-tab="Tab 1">
              <div class="tab-info-row">
                <h4>children</h4>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Heather
                      <br><span class="info-paragraph-light">Daughter</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Kristen
                      <br><span class="info-paragraph-light">Daughter</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-info-row">
                <h4>Spouse</h4>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Mick
                      <br><span style="font-weight: normal;">Husband</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"></p>
                  </div>
                </div>
              </div>
              <div class="tab-info-row">
                <h4>parents</h4>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Elizabeth
                      <br><span style="font-weight: normal;">Mother</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">John
                      <br><span style="font-weight: normal;">Father</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-info-row">
                <h4>siblings</h4>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Mike
                      <br><span style="font-weight: normal;">Brother</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">John
                      <br><span style="font-weight: normal;">Brother</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-info-row">
                <h4>cousins</h4>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Mary Anne
                      <br><span style="font-weight: normal;">Cousin</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 2">
              <div class="single tab-info-row">
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Loves fried chicken wings</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">But hates roast chicken</p>
                  </div>
                </div>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Grew up with lamb roast</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Loves Greek lemon-rice soup</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 3">
              <div class="single tab-info-row">
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Bowling</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Dancing</p>
                  </div>
                </div>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Baseball</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Poker</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 4">
              <div class="single tab-info-row">
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Country to pop to oldies</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-profile-media" id="media">
    <div class="w-container">
      <div class="slider-title">
        <div>Photos &amp; Videos</div>
      </div>
      <div class="slider-parent w-slider" data-animation="slide" data-duration="500" data-infinite="1" data-nav-spacing="5">
        <div class="media-mask w-slider-mask">
          <div class="slide w-slide">
          <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'liz_hawaii_2007.jpg', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578ee989eee2a4082db55a6d",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578ee989eee2a4082db55a6d_liz_hawaii_2007.jpg",
                  "fileName": "liz_hawaii_2007.jpg",
                  "origFileName": "liz_hawaii_2007.jpg",
                  "width": 1566,
                  "height": 1149,
                  "fileSize": 106009,
                  "type": "image",
                  "url": "/assets/liz_hawaii_2007-8eb75cd5a6a9510d6877605d7b0efdff517f8bc2675a7c6b133b7cb6825e50eb.jpg"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
          <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'liz_work_1968.jpg', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578eebcf337a79e75e941498",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578eebcf337a79e75e941498_liz_work_1968.jpg",
                  "fileName": "liz_work_1968.jpg",
                  "origFileName": "liz_work_1968.jpg",
                  "width": 1293,
                  "height": 1925,
                  "fileSize": 200074,
                  "type": "image",
                  "url": "/assets/liz_work_1968-56aee698568155cdbc878252fe805afcf29a908e0826b7d87320866115929cc8.jpg"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#">
            <div class="video-play-media-overlay"><%= image_tag 'elvis_presley-hound_dog_s_12.jpg', class: 'media-image' %>
              </div>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "type": "video",
                  "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F-eHJ12Vhpyc%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D-eHJ12Vhpyc&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F-eHJ12Vhpyc%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
                  "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2F-eHJ12Vhpyc%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
                  "width": 940,
                  "height": 528,
                  "url": "http://www.youtube.com/watch?v=-eHJ12Vhpyc"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
          <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'liz_mick_wedding_1971.jpg', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578eebf7337a79e75e9414b3",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578eebf7337a79e75e9414b3_liz_mick_wedding_1971.jpg",
                  "fileName": "liz_mick_wedding_1971.jpg",
                  "origFileName": "liz_mick_wedding_1971.jpg",
                  "width": 1438,
                  "height": 1157,
                  "fileSize": 123526,
                  "type": "image",
                  "url": "/assets/liz_mick_wedding_1971-ae8ecc06a92b8d2ee7c0ab8c7e31a169773d174fadcd0cecc72c99ba61aa85ec.jpg"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
          <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'liz_new_mother_1985.jpg', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578eec2aa38f95ac5e995dc3",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578eec2aa38f95ac5e995dc3_liz_new_mother_1985.jpg",
                  "fileName": "liz_new_mother_1985.jpg",
                  "origFileName": "liz_new_mother_1985.jpg",
                  "width": 549,
                  "height": 487,
                  "fileSize": 24772,
                  "type": "image",
                  "url": "/assets/liz_new_mother_1985-0a71150fe37f9befe3bc1899b62bef0ddede55b66098b56e5eaa07bc58832f43.jpg"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
          <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'liz_bowling.jpg', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578eec52c36943ed2cc0c1ed",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578eec52c36943ed2cc0c1ed_liz_bowling.jpg",
                  "fileName": "liz_bowling.jpg",
                  "origFileName": "liz_bowling.jpg",
                  "width": 2016,
                  "height": 1429,
                  "fileSize": 233769,
                  "type": "image",
                  "url": "/assets/liz_bowling-91c2c26a660d0119c83f422371e2805578bac8b2b37c9484ea3a0876a404176c.jpg"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
          <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'heather_grad_2006.jpg', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578eec7405b434380f1beaee",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578eec7405b434380f1beaee_heather_grad_2006.jpg",
                  "fileName": "heather_grad_2006.jpg",
                  "origFileName": "heather_grad_2006.jpg",
                  "width": 1746,
                  "height": 1161,
                  "fileSize": 240259,
                  "type": "image",
                  "url": "/assets/heather_grad_2006-ed8f7d5e14eb7b681ef7fb0da789dab7660cc27ac5843362e5192a6a6e29fd49.jpg"
                }] }
              </script>
            </a>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="slider-icon w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="slider-icon w-icon-slider-right"></div>
        </div>
        <p class="enlarge-text grey-paragraph narrative">Click to enlarge</p>
      </div>
    </div>
  </div>
  <div class="section-profile-stories" id="stories">
    <div class="w-container">
      <div class="slider-title">
        <div>liz's Stories</div>
      </div>
      <div class="profile-stories">
        <div class="first story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">Pregnant with their first child, many women several decades ago would have dropped out of running sports. Too uncomfortable, too dangerous -- maybe even too un-ladylike, they would have said.&nbsp;Elizabeth “Liz” Ross&nbsp;didn’t buy it. With her oldest daughter Heather on the way, Liz couldn’t imagine giving up her citywide baseball league in the Detroit area. She was the pitcher, and her team needed her, and besides, she had a responsibility to herself to finish the season. Liz pitched right up to delivery day.&nbsp;
              <br>
              <br>Sports are as much a part of Liz as her skin and bones. From her youngest days in&nbsp;Riverview, Michigan&nbsp;in the Detroit area, she thrived on athleticism and even a little danger. As elementary-school-aged girls, in summers Liz -- also known by some of her family and friends as Betty Ann -- and her cousin Mary Anne would scramble up Liz’s grandfather’s cherry tree taller than a house to gorge themselves on the fruits. Liz, of course, was the instigator, clambering high into the canopy and then getting sick to her stomach on so many cherries. But she would laugh and laugh at the thrill.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'liz_hawaii_2007.jpg' %>
            <p class="caption grey-paragraph narrative">Liz has always been athletic.
              <br>
              <br><span class="caption-small">She loves sports, from swimming to baseball. Here, she's in Hawaii in 2007.</span>
            </p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">Liz’s was a tight-woven family.&nbsp;Her father John&nbsp;was a maître d at the Roostertail, one of Detroit’s best-known event halls, and&nbsp;her mother Elizabeth&nbsp;took care of her three children Mike, John and Liz at home. Lizdespised roasted chicken&nbsp;but couldn’t keep herself from downing&nbsp;fried chicken wings. Easters in her Greek household were warmed by largelamb roasts. Competition was also a big part of family life. They playedpoker and pinochle&nbsp;together. At Camp Dearborn, where Liz’s extended family would hang out on Sundays, you could swim or shoot bows and arrows. Liz regularly challenged&nbsp;her older brothers Mike and John&nbsp;to games of tennis or who could throw baseballs or footballs farthest. And after Liz often clobbered them on the court, Mary Anne remembers her cousin would laugh and sometimes taunt them. Because while Liz has always generally been a good sport, who could deny she also loves to win?</p>
          </div>
          <div class="w-col w-col-5">
            <div class="w-embed w-video" style="padding-top: 56.17021276595745%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F-eHJ12Vhpyc%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D-eHJ12Vhpyc&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F-eHJ12Vhpyc%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">It’s little surprise, then, that Liz was drawn to sales. In her 20s, she sold phones and phone service and managed key accounts at the&nbsp;Michigan Bell Telephone Co. Her team beat sales targets and won other corporate events so often -- driven in no small part by Liz’s leadership -- that as a reward they got to dine at many of Detroit’s finest restaurants on the company dime. Her colleague at the time Peggy Patton remembers Liz as instrumental to weaving a network of office friendships. Liz was the ringleader behind skits promoting this or that new phone feature, and after-work get togethers. There were parties and nights on the town, poker games too numerous to count, baseball andbingo&nbsp;sessions. It seemed Liz was always in motion.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'liz_work_1968.jpg' %>
            <p class="caption grey-paragraph narrative">Liz worked in sales at Michigan Bell Telephone Co.
              <br>
              <br><span class="caption-small">This photo is from 1968. Liz's team beat sales targets, and she made long-lasting friendships with her colleagues.</span>
            </p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">Bowling&nbsp;became a decades-long passion starting in her 20s around the time she met&nbsp;her husband and love of her life, Mick Ross. They met in a mixed-gender bowling league and bowled together for a time. Liz became so skilled she joined a travelling league. Peggy recalls Liz handling with aplomb the pressure of anchoring the team, coming through with big scores just when it was needed most. Liz would rack up dozens of bowling trophies and accolades, sometimes proudly regaling family and friends with tales of her 10-pin conquests.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'liz_mick_wedding_1971.jpg' %>
            <p class="caption grey-paragraph narrative">Liz and her husband Mick married in 1971.
              <br>
              <br><span class="caption-small">They met in a mixed-gender bowling league.</span>
            </p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">Liz and Mick’s enduring disappointment over trying and failing to conceive for years turned to overflowing joy when Heather was born after Liz’s 39th birthday, and their youngest Kristen came 15 months later. The girls became the highlight of Liz’s life. She stopped working and devoted herself full time to them. She volunteered at the girls’ elementary-school parent-teacher association, coached their t-ball and softball teams and was also a leader in the Girl Scouts. Though she enjoyed going out to eat, making lemon-rice soup for the girls was one of her Greek specialties.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'liz_new_mother_1985.jpg' %>
            <p class="caption grey-paragraph narrative">Liz in 1985 with her second daughter Kristen.
              <br>
              <br><span class="caption-small">After years of struggling to get pregnant, Liz and Mick were overjoyed with the births of their daughters Heather and Kristen fifteen months apart.</span>
            </p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">Liz revelled in hosting backyard barbecue parties and later at their lake house in the 1990s, she and the family delighted in&nbsp;swimming and boating. Michigan sports of all stripes also captured her heart, and her love of music and&nbsp;dancing&nbsp;was such an influence that Kristen later would join the music industry.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'liz_bowling.jpg' %>
            <p class="caption grey-paragraph narrative">Liz, center, with her Aunt Mary to her left and friend Peggy to her right at a bowling tournament in 1996.
              <br>
              <br><span class="caption-small">Liz played on many bowling leagues during several decades, racking up dozens of trophies.</span>
            </p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">Two years after Liz and Mick moved to the lake house full time in 2003, Mick passed away, and Liz never fully recovered from the sorrow. But her personality was still so bright that she managed to make new friends and keep up with old ones, maintaining a weekly breakfast-club date with her friend Peggy and some girlfriends. And, as ever, sports still are an important part of Liz’s life: She still loves those&nbsp;Michigan sports, whether it’s University of Michigan or&nbsp;Detroit Lions&nbsp;football, the&nbsp;Detroit Tigers&nbsp;baseball team or the&nbsp;Detroit Red Wings&nbsp;hockey team.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'heather_grad_2006.jpg' %>
            <p class="caption grey-paragraph narrative">Liz, right, with her oldest daughter, Heather in the center, and her youngest daugher Kristen on the left at Heather's graduation from the University of Michigan.
              <br>
              <br><span class="caption-small">Liz was extremely proud that Heather graduated from college in 2006, the first in her family to do so.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/profile_footer' %>
