<%= render partial: 'layouts/profile_navigation' %>

<div class="profile-full-vert">
  <div class="section-profile-splash">
    <div class="profile-splash" id="overview">
      <h1 class="profile-h1">Mary Daly</h1>
      <div class="profile-photo-border">
        <%= image_tag 'Mary_Sharon.jpg', class: 'profile-image' %>
      </div>
    </div>
  </div>
  <div class="section-profile-family-tips" id="family-tips">
    <div class="w-container">
      <div class="profile-preferences">
        <div class="w-tabs" data-duration-in="300" data-duration-out="100">
          <div class="tabs-menu w-tab-menu">
            <a class="tab-link w--current w-inline-block w-tab-link" data-w-tab="Tab 1">
              <div>Family</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 2">
              <div>Favorite Foods</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 3">
              <div>Favorite Hobbies</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 4">
              <div>sensitive subjects</div>
            </a>
            <a class="tab-link w-inline-block w-tab-link" data-w-tab="Tab 5">
              <div>easing agitation</div>
            </a>
          </div>
          <div class="profile-tabs-content w-tab-content">
            <div class="w--tab-active w-tab-pane" data-w-tab="Tab 1">
              <div class="tab-info-row">
                <h4>Children</h4>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Colin Daly
                      <br><span class="info-paragraph-light">Son</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Alison Caldwell
                      <br><span style="font-weight: normal;">Daugher</span>
                    </p>
                  </div>
                </div>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"><span>Jennifer Lukehart<br></span><span style="font-weight: normal;">Stepdaugher</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"><span>Jason Lukehart<br></span><span style="font-weight: normal;">Stepson</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="tab-info-row">
                <h4>parents</h4>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Julia Daly
                      <br><span class="info-paragraph-light">Mother</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Christopher Daly
                      <br><span style="font-weight: normal;">Father</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="single tab-info-row">
                <h4>siblings</h4>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Sharon Wilson
                      <br><span class="info-paragraph-light">Sister</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Pat Daly
                      <br><span style="font-weight: normal;">Brother</span>
                    </p>
                  </div>
                </div>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"><span>Ed Daly<br></span><span style="font-weight: normal;">Brother</span>
                    </p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"><span>Mike Daly<br></span><span style="font-weight: normal;">Brother</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 2">
              <div class="single tab-info-row">
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Salmon</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Buttery bread</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 3">
              <div class="single tab-info-row">
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Cooking Irish soda bread, cabbage and potatoes</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Traveling abroad</p>
                  </div>
                </div>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Sewing</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Cleaning</p>
                  </div>
                </div>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Organizing papers</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Traveling abroad</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 4">
              <div class="single tab-info-row">
                <p class="info-paragraph">Don’t bring up Mary’s first husband Mike Lewis. They were divorced years ago, and it wasn’t a good marriage.</p>
              </div>
            </div>
            <div class="w-tab-pane" data-w-tab="Tab 5">
              <div class="single tab-info-row">
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Give Mary something to clean: a towel to wipe a table, for example</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Play Irish folk music like “When Irish Eyes are Smiling”</p>
                  </div>
                </div>
                <div class="info-row w-row">
                  <div class="w-col w-col-6">
                    <p class="info-paragraph">Talk about her children, Colin and Alison</p>
                  </div>
                  <div class="w-col w-col-6">
                    <p class="info-paragraph"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-profile-media" id="media">
    <div class="w-container">
      <div class="slider-title">
        <div>Photos &amp; Videos</div>
      </div>
      <div class="slider-parent w-slider" data-animation="slide" data-duration="500" data-infinite="1" data-nav-spacing="5">
        <div class="media-mask w-slider-mask">
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'Julia-mom.jpg', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578c44b17f2092bc51af8253",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578c354f7f2092bc51af59fc_Julia-mom.jpg",
                  "fileName": "578c354f7f2092bc51af59fc_Julia-mom.jpg",
                  "origFileName": "Julia-mom.jpg",
                  "width": 2257,
                  "height": 3343,
                  "fileSize": 922656,
                  "type": "image",
                  "url": "/assets/Julia-mom-b4e6d26d4ce8bfa529304cce41a611707a29c339946c281ebd0fcd1aeca00dfe.jpg"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'Wedding_mary-john.jpg', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578c44b17f2092bc51af8255",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578c35657b80d9142bad29c3_Wedding_mary-john.jpg",
                  "fileName": "578c35657b80d9142bad29c3_Wedding_mary-john.jpg",
                  "origFileName": "Wedding_mary-john.jpg",
                  "width": 1983,
                  "height": 2729,
                  "fileSize": 718311,
                  "type": "image",
                  "url": "/assets/Wedding_mary-john-c06423e5ba1ed9876b9e79829e1e429d24897cd3c8497b8082a553f4b18ef325.jpg"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#"><%= image_tag 'mary_Colin_Alison.jpg', class: 'media-image' %>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "_id": "578c35598ad454da6399b567",
                  "cdnUrl": "https://daks2k3a4ib2z.cloudfront.net/573fcf4eb9b32ec758348a7c/578c35598ad454da6399b567_mary_Colin_Alison.jpg",
                  "fileName": "578c44b17f2092bc51af8254_mary_Colin_Alison.jpg",
                  "origFileName": "mary_Colin_Alison.jpg",
                  "width": 1083,
                  "height": 1662,
                  "fileSize": 201872,
                  "type": "image",
                  "url": "/assets/mary_Colin_Alison-8f99cdb4483387dc82708687d8e0d6bf0dff5f8b8ddb9592be9e36025b93c1fa.jpg"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#">
              <div class="video-play-media-overlay"><%= image_tag 'roger-whittaker.jpg', class: 'media-image' %>
              </div>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "type": "video",
                  "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F2FTXIgf7-Fk%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D2FTXIgf7-Fk&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F2FTXIgf7-Fk%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"705\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
                  "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2F2FTXIgf7-Fk%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
                  "width": 940,
                  "height": 705,
                  "url": "http://www.youtube.com/watch?v=2FTXIgf7-Fk"
                }] }
              </script>
            </a>
          </div>
          <div class="slide w-slide">
            <a class="w-inline-block w-lightbox" href="#">
              <div class="video-play-media-overlay"><%= image_tag 'frank-sinatra.jpg', class: 'media-image' %>
              </div>
              <script class="w-json" type="application/json">
                { "group": "lightbox-media", "items": [{
                  "type": "video",
                  "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fh9ZGKALMMuc%3Fautoplay%3D1%26feature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dh9ZGKALMMuc&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fh9ZGKALMMuc%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"705\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>",
                  "thumbnailUrl": "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fh9ZGKALMMuc%2Fhqdefault.jpg&key=866738f8f18b4394a18e371517a66ae0",
                  "width": 940,
                  "height": 705,
                  "url": "http://www.youtube.com/watch?v=h9ZGKALMMuc"
                }] }
              </script>
            </a>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="slider-icon w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="slider-icon w-icon-slider-right"></div>
        </div>
        <p class="enlarge-text grey-paragraph narrative">Click to enlarge</p>
      </div>
    </div>
  </div>
  <div class="section-profile-stories" id="stories">
    <div class="w-container">
      <div class="slider-title">
        <div>Mary's Stories</div>
      </div>
      <div class="profile-stories">
        <div class="first story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">In fourth grade, Mary Daly learned to sew. But she didn't merely take up a hobby. She mastered it. Never one to need much sleep, many school nights Mary could be found at two or three a.m. in her room, brushing off her parents’ entreaties to get to bed and shepherding swatches of fabric through a sewing machine. Her prowess developed such that for the next 20 years most of the coats, suits and dresses she donned would be crafted by her own hand -- part and parcel of her&nbsp;passion for mastery and unwavering drive for self reliance.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'mary-4years.jpg' %>
            <p class="caption grey-paragraph narrative">Mary discovered a talent for sewing in her elementary school days.</p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">Mary approached life the way she did&nbsp;sewing: with discipline, vision and ambition. Her life’s work was in education, in trying to light in others her own&nbsp;thirst to better herself and a compassionate determination to fix problems in the world. That drive would propel her through two masters degrees in education and a doctorate in public policy, led to leadership roles at universities in Illinois, and eventually to the presidency of her local school board.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'Julia-mom.jpg' %>
            <p class="caption grey-paragraph narrative">Education was very important to Mary's mother Julia. Mary was the first in her family to go to college.</p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">Mary grew up on Chicago’s southwest side in an enclave of Irish Catholic families. Attending Mass every Sunday was as regular and cherished in her childhood as her Ireland-born father Christopher belting out&nbsp;folk songs like “When Irish Eyes are Smiling” or “Too-ra-loo-ra-loo-ral.”Her mother, Julia,&nbsp;was born in Chicago. She impressed on Mary the value of education, and Mary,&nbsp;the oldest of five siblings — including Sharon, Pat, Ed and Mike, who all attended Seven Holy Founders elementary school&nbsp;—, was the first in her family to go to college. Thus beginning a decades-long&nbsp;career in teaching and education administration.</p>
          </div>
          <div class="w-col w-col-5">
            <div class="w-embed w-video" style="padding-top: 75%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F2FTXIgf7-Fk%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D2FTXIgf7-Fk&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F2FTXIgf7-Fk%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">In her early 20s, Mary married her first husband, Mike Lewis, and became&nbsp;a masterful cook&nbsp;by applying the same methodical resolve to Julia Child recipes as she had to sewing. And years later, her inborn desire to improve herself, stay active and organize the world around her carried her through a difficult separation from her husband. When she wasn’t straightening work papers or ensuring her kitchen was spotless, she was bringing warm soup to friends or sick employees or mentoring young people who needed help getting into college. One night, Mary’s neighbors spotted her at 4 a.m. washing the windows to her home -- because, as she saw it, what else could 4 a.m. be good for?</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'mary_pat_ed-mike_sharon.jpg' %>
            <p class="caption grey-paragraph narrative">Mary, front left, with her sister Sharon.
              <br>Her brothers&nbsp;Pat, Ed and Mike&nbsp;are in the back.</p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">She also took delight in few things more than&nbsp;planning and hosting huge dinner parties&nbsp;and presiding over an annual St. Patrick’s Day gathering. It was a raucous, never-miss event for 20 or 40 family members, friends and neighbors that saw Mary jumping into lively debates about progressive politics and education reform between serving up dishes of&nbsp;corned beef and Irish potatoes, bacon and cabbage. Her&nbsp;Irish soda bread&nbsp;was so coveted by her two children, Alison and Colin, it became a minor celebrity in the Daly household.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'mary_Colin_Alison.jpg' %>
            <p class="caption grey-paragraph narrative">Mary with her son Colin and daughter Alison.</p>
          </div>
        </div>
        <div class="story-row w-row">
          <div class="w-col w-col-7">
            <p class="grey-paragraph narrative">In her later years in Oak Park, Ill., Mary&nbsp;took extra joy in her second marriage, to John Lukehart, who worked on Chicago housing issues and passed away in 2007;&nbsp;travelling through Germany and France; listening to&nbsp;Frank Sinatra&nbsp;classics,&nbsp;Sonata Claro de Luna by Beethoven and opera songs by Luciano Pavarotti and Andrea Bocelli; and eating&nbsp;salmon and well-buttered bread.</p>
          </div>
          <div class="w-col w-col-5"><%= image_tag 'Wedding_mary-john.jpg' %>
            <p class="caption grey-paragraph narrative">Mary's second marriage, to John Lukehart, was her happiest.</p>
          </div>
        </div>
        <div class="single-item-story-row">
          <div class="w-embed w-video" style="padding-top: 75%;">
            <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fh9ZGKALMMuc%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dh9ZGKALMMuc&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fh9ZGKALMMuc%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/profile_footer' %>
