<div class="navigation w-nav" data-animation="default" data-collapse="medium" data-duration="400">
  <div class="navigation-div w-clearfix">
    <%= link_to root_path, class: 'logo w-nav-brand' do %>
      <h1 class="logo">MemoryWell<span class="yellow">.</span></h1>
    <% end %>
    <div class="right-navigation-block w-clearfix">
      <nav class="navigation-menu-left w-nav-menu" role="navigation">
        <%= link_to 'for families', home_for_families_path, class: 'nav-link w-nav-link' %>
        <%= link_to 'for caregivers', home_for_caregivers_path, class: 'nav-link w-nav-link' %>
        <%= link_to 'samples', home_samples_path, class: 'nav-link w-nav-link' %>
        <%= link_to 'about us', home_about_us_path, class: 'nav-link w-nav-link' %>
      </nav>
      <div class="navigation-menu-right w-clearfix">
        <%= link_to 'get memorywell', home_get_started_path, class: 'clear-button-small nav-button w-button' %>
      </div>
    </div>
    <div class="main-nav-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>

